{% extends "base.html" %}

{% block body %}
    {% block form_title %}
    {% endblock %}

    <form action="{{ action }}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row g-3 pb-2">
            <div class="col-12">
                <label for="id_name" class="form-label">Name</label>
                {{ form.name }}
            </div>

            <div class="col-12">
                <label for="id_description" class="form-label">Description</label>
                {{ form.description }}
            </div>

            <div class="col-12">
                <label for="id_website" class="form-label">Website</label>
                {{ form.website }}
            </div>

            <div class="col-12">
                <label for="id_website" class="form-label">Address</label>
                {{ form.address }}
            </div>

            <div class="col-6">
                <label for="id_lat" class="form-label">Latitude</label>
                {{ form.lat }}
            </div>

            <div class="col-6">
                <label for="id_long" class="form-label">Longitude</label>
                {{ form.long }}
            </div>

            <div class="col-4">
                <label for="id_region" class="form-label">Region</label>
                {{ form.region }}
            </div>

            <div class="col-4">
                {{ form.suitability }}
            </div>

            {% block extra_fields %}
            {% endblock %}

        </div>
        <div class="row">
            <div class="row">
                <div class="col-6">
                    <label for="id_image" class="form-label">Main Image</label>
                </div>
                <div class="col-6">
                    <label for="id_additional_image" class="form-label">Additional image</label>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        {% if instance.main_image %}
                            <img
                                    src="{{ instance.main_image.thumb_600.url }}"
                                    width="600"
                                    alt="{{ attraction.name }}"
                            />
                        {% endif %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="row g-3">
                        {% if instance.id %}
                            {% for additional_image in instance.additional_images.all %}
                                <div class="col-6">
                                    <div class="row">
                                        <img
                                                src="{{ additional_image.thumb_300.url }}"
                                                width="300"
                                                alt="{{ attraction.name }}"
                                        />
                                    </div>
                                    <div class="form-check">
                                        <input
                                                type="checkbox"
                                                class="form-check-input"
                                                name="delete_additional"
                                                value="{{ additional_image.id }}"
                                                id="id_delete_additional_{{ additional_image.id }}"
                                        />
                                        <label
                                                class="form-check-label"
                                                for="id_delete_additional_{{ additional_image.id }}"
                                        >
                                            Delete
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row pb-3 pt-3">
                <div class="col-6">
                    {{ form.image }}
                </div>
                <div class="col-6">
                    {{ form.additional_image }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {% for error in form.image.error_messages %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="col-6">
                    {% for error in form.additional_image.error_messages %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button
                            class="btn btn-primary"
                            type="submit"
                            name="next"
                            value="stay"
                    >Save</button>

                    <button
                            class="btn btn-primary"
                            type="submit"
                            name="next"
                            value="exit"
                    >Save & Exit</button>
                </div>
            </div>

        </div>


    </form>

{% endblock %}