{% extends "base.html" %}
{% load static %}

{% block title %}Attractions{% endblock %}

{% block body %}
    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Attractions</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <!-- first row of categories -->
            <div class="feature col">
                <img src="{% static "attractions/museums.jpg" %}" width="150" height="100"
                     alt="museums"/>
                <h2>Museums</h2>
                <p>View and edit the museums visible inside the application</p>
            </div>

            <div class="feature col">
                <img src="{% static "attractions/wineries.jpg" %}" width="150" height="100"
                     alt="wineries"/>
                <h2>Wineries</h2>
                <p>View and edit the wineries visible inside the application</p>
            </div>

            <div class="feature col">
                <img src="{% static "attractions/zoos.jpg" %}" width="150" height="100"
                     alt="zoos"/>
                <h2>Zoos</h2>
                <p>View and edit the zoos visible inside the application</p>
            </div>
            <!-- links for first row -->
            <div class="features col mt-0">
                <a href="{% url "display" model="museums" %}" class="icon-link">View museums &gt;</a>
            </div>

            <div class="features col mt-0">
                <a href="{% url "display" model="wineries" %}" class="icon-link">View wineries &gt;</a>
            </div>

            <div class="features col mt-0">
                <a href="{% url "display" model="zoos" %}" class="icon-link">View zoos &gt;</a>
            </div>
            <!-- Second row -->
            <div class="feature col">
                <img src="{% static "attractions/offroad.jpg" %}" width="150" height="100"
                     alt="Off Road"/>
                <h2>Off Road</h2>
                <p>View and edit the off-road trips offered in the application</p>
            </div>

            <div class="feature col">
                <img src="{% static "attractions/trails.jpg" %}" width="150" height="100"
                     alt="Trails"/>
                <h2>Trails</h2>
                <p>View and edit the trails offered in the application</p>
            </div>

            <div class="feature col">
                <img src="{% static "attractions/rock_climbing.jpg" %}" width="150" height="100"
                     alt="Rock climbing attractions"/>
                <h2>Rock climbing attractions</h2>
                <p>View and edit the rock climbing attractions offered in the application</p>
            </div>

            <!-- links for second row -->
            <div class="features col mt-0">
                <a href="{% url "display" model="offroad" %}" class="icon-link">View Off-Road trips &gt;</a>
            </div>

            <div class="features col mt-0">
                <a href="{% url "display" model="trails" %}" class="icon-link">View trails &gt;</a>
            </div>

            <div class="features col mt-0">
                <a href="{% url "display" model="rock_climbing" %}" class="icon-link">View rock climbing attractions
                    &gt;</a>
            </div>

            <!-- Third row -->
            <div class="feature col">
                <img src="{% static "attractions/water_sports.jpg" %}" width="150" height="100"
                     alt="Water sports attractions"/>
                <h2>Water sports attractions</h2>
                <p>View and edit the water sports attractions offered in the application</p>
            </div>

            <div class="feature col">
                <img src="{% static "attractions/extreme_sports.jpg" %}" width="150" height="100"
                     alt="Extreme sports attractions"/>
                <h2>Extreme sports attractions</h2>
                <p>View and edit the extreme sports attractions offered in the application</p>
            </div>
            <div class="feature col">
                <img src="{% static "attractions/hot-air.jpg" %}" width="150" height="100"
                     alt="Extreme sports attractions"/>
                <h2>Hot-air balloon attractions</h2>
                <p>View and edit the hot-air balloon attractions offered in the application</p>
            </div>

            <!-- links for third row -->
            <div class="features col mt-0">
                <a href="{% url "display" model="water_sports" %}" class="icon-link">View water sports attractions
                    &gt;</a>
            </div>
            <div class="features col mt-0">
                <a href="{% url "display" model="extreme_sports" %}" class="icon-link">View extreme sports attractions
                    &gt;</a>
            </div>
            <div class="features col mt-0">
                <a href="{% url "display" model="hot_air" %}" class="icon-link">View hot-air balloon attractions
                    &gt;</a>
            </div>

        </div>
    </div>

{% endblock %}