{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1>Rock climbing attractions</h1>
        <div class="row pb-3">
            {% for rock_climbing in page.object_list %}
                <div class="row">
                    <a href="{% url "edit_rock_climbing" rock_climbing=rock_climbing.id %}">{{ rock_climbing.name }}</a>
                </div>
            {% endfor %}
        </div>

        <div class="row pb-1">
            <a href="{% url "add_rock_climbing" %}">Create rock climbing attractions</a>
        </div>

        {{ pager.render }}
    </div>
{% endblock %}