{% extends "base.html" %}
{% block body %}
    <h1>Found {{ count }} coupons</h1>  
    {% for coupon in coupons %}
        <p><img src="{{ coupon.barcode }}" alt="{{ coupon.code }}" /><br />{{ coupon.code }}</p>
    {% endfor %}
    {% if count %}
        <p><a class="btn btn-primary" href="{{ print_url }}">print</a></p>

        <form action="{% url "tenbis_multiple" token=token %}" method="post">
            {% csrf_token %}
            {{ form.count }}
            <label><input type="checkbox" name="sure" value="yes" /> confirm</label>
            <input type="submit" class="btn btn-danger" value="Mark used" />
        </form>
    {% endif %}
{% endblock %}