{% extends "base.html" %}
{% load md thumb %}

{% block title %}Market review - {{ application.short_name }}{% endblock %}

{% block body %}
    {% include "market_review/introduction.html" %}

    <ul class="nav nav-tabs d-print-none">
        {% for other_app in applications %}
            <li class="nav-item">
                {% if other_app.pk == application.pk %}
                    <a class="nav-link active" aria-current="page"
                       href="{% url "application" app_id=other_app.slug %}">
                        {{ other_app.short_name }}
                    </a>
                {% else %}
                    <a class="nav-link" href="{% url "application" app_id=other_app.slug %}">
                        {{ other_app.short_name }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "market_review_summary" %}">Summary</a>
        </li>
    </ul>

    <div class="application p-2 border-bottom border-start border-end">
        <div class="row">
            {% if application.logo %}
                <div class="col-md-auto">
                    <img src="{{ application.logo.url }}" alt="{{ application.short_name }}"/>
                </div>
            {% endif %}

            <div class="col">
                <a href="{{ application.url }}">
                    <h3>{{ application.long_name }}</h3>
                </a>
                {{ application.text|markdown }}

                {% if request.user.is_superuser %}
                    <div class="admin">
                        <a href="{% url "upload_logo" app_id=application.slug %}">edit logo</a>
                    </div>
                {% endif %}
            </div>

        </div>
        {% if features %}
            <div class="features pt-2">
                <h4>Notable features:</h4>
                {% for feature in features %}
                    <div class="row">
                        <div class="col-md-auto">
                            {% for image in feature.images %}
                                <div>
                                    <a href="{{ image.image.url }}" data-lightbox="{{ image.id }}"
                                       data-title="{{ image.caption }}">
                                        <img src="{{ image.image|thumb_width:180 }}"
                                             alt="{{ image.caption }}"/>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col">
                            <h5>{{ feature.title }}</h5>
                            {{ feature.text|markdown }}
                            {% if request.user.is_superuser %}
                                <div class="admin">
                                        <a href="{% url "feature_images" app_id=application.slug feature_slug=feature.slug %}">
                                            edit images
                                        </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if missing %}
            <div class="missing-features pt-2">
                <h4>Missing features:</h4>
                {% for feature in missing %}
                    <div class="feature">
                        <h5>{{ feature.title }}</h5>
                        {{ feature.text|markdown }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}