{% extends "base.html" %}
{% load thumb %}

{% block body %}
    {% for image in feature.featureimage_set.all %}
        <img src="{{ image.image|thumb_width:180 }}" />
    {% endfor %}
    <form action="{% url "feature_images" app_id=application.slug feature_slug=feature.slug %}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.image }}
        {{ form.image.errors }}

        {{ form.caption }}
        {{ form.caption.errors }}
        <input type="submit" value="upload" />
    </form>
    <a href="{% url "application" app_id=application.slug %}">Application page</a>
{% endblock %}