{% extends "base.html" %}

{% block body %}
    {% for caption, thumb in thumbs %}
        <div>
            <p>{{ caption }}</p>
            <img
                    src="{{ thumb.url }}"
                    width="{{ thumb.width }}"
                    height="{{ thumb.height }}"
                    alt="{{ caption }}" />
        </div>
    {% endfor %}

    <form action="{% url "feature_images" app_id=application.slug feature_slug=feature.slug %}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.image }}
        {{ form.image.errors }}

        {{ form.caption }}
        {{ form.caption.errors }}
        <input type="submit" value="upload" />
    </form>
    <a href="{% url "application" app_id=application.slug %}">Application page</a>
{% endblock %}