{% extends "base.html" %}
{% load thumb %}

{% block body %}
    <h1>{{ cat.name }}</h1>

    {% if cat.image %}
        <img
                    src="{{ cat.image.url }}"
                    width="{{ cat.image.width }}"
                    height="{{ cat.image.height }}"
                    alt="{{ cat.name }}" />
    {% endif %}

    <form action="{% url "category_image" category_id=cat.id %}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.image }}
        {{ form.image.errors }}

        <input type="submit" value="upload" />
    </form>

{% endblock %}